.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

body { -webkit-transform: translate3d(0, 0, 0); }

/*---------------------------------------------------------------------------*/
/* Top */
/*---------------------------------------------------------------------------*/
div.top {
	height: 764px;
	background-repeat: no-repeat;
	background-position: 20px 0px;
	background-image: url("/img/top_background.jpg");
}

div.top div.language{
	margin-top: 10px;
	margin-left: 30px;
	width:63px;
	float:left;
}

div.top div.language img{
	margin-top: -2px;
}

div.top div.top_toolbox{
	margin-top: 720px;
}

div.top_iphonehand{
	height: 762px;
	background-repeat: no-repeat;
	background-position: 52px 67px;
	background-image: url("/img/top_iphonehand.png");
}

div.fb-like {
	float:left;
	margin-top:10px;
	margin-left:10px;
	height: 20px;
}

div.top_logobackground{
	margin-top: 53px;
	width: 552px;
	height: 635px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid rgb(255, 255, 255);
	
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.7);
}

div.top_header{
	margin: 15px 0 0 25px;
}

img.top_header_logo{
	margin-left:15px;
	margin-top:10px;
}

img.top_header_icon{
	width: 64px;
	height: 64px;
	margin-left: 20px;
}

div.top_logobackground h1{
	font-size: 20px;
	margin: 10px 0 0 50px;
}

div.top_logobackground p{
	margin-left: 50px;
	margin-right: 50px;
}

div.top_logobackground iframe{
	width: 450px;
	height: 280px;
}

div.showcase_wrapper{
	background-color:black;
	width:450px;
	margin-left:50px;
}

div.showcase_prev, div.showcase_next{
	position: relative;
	background-image: url(/img/awshowcase/arrows-small.png);
	width: 17px;
	height: 17px;
	top: 263px;
	cursor: pointer;
}

.showcase_prev
{
	float: left;
	left: 25px;
	background-position: 0 -17px;
}
	
.showcase_next
{
	float: right;
	right: 25px;
	background-position: 0 0;
}

div.top_logobackground .small_icon{
	width: 40px;
	height: 40px;
	margin-right: 2px;
}

div.top_logobackground .top_storelinks{
	height: 40px;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

a.top_storelite{
	margin-left: 15px;
}

div.top_logobackground p.top_services{
	vertical-align: middle;
}

div.top_logobackground p.top_services img{
	vertical-align: top;
	margin-top:1px;
}

div.top ul.nav-tabs{
	border-bottom:none;
}
div.top ul.nav-pills li a{
	border-radius: 5px 5px 0 0;
}

div.top ul.nav{
	margin-top:23px;
	font-size: 20px;
}

div.top ul.nav li a{
	line-height: 30px;
	margin-left: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
}

/*---------------------------------------------------------------------------*/
/* FAQ */
/*---------------------------------------------------------------------------*/
div#faq{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url("/img/faq_background.gif");
}

div#faq p{
	margin-top:0.4em;
	margin-left:1em;
	text-indent:1em;
	line-height:1.5em;
}
div#faq dt{
	margin-top:0.4em;
	line-height:1.5em;
}
div#faq dl{
	margin-top:0;
	margin-left:1em;
}

/*---------------------------------------------------------------------------*/
/* Contact */
/*---------------------------------------------------------------------------*/
div#contact{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url("/img/contact_background.gif");
}
div#contact p{
	margin-top:0.4em;
	margin-left:1em;
	text-indent:1em;
	line-height:1.5em;
}

/*---------------------------------------------------------------------------*/
/* OSS */
/*---------------------------------------------------------------------------*/
div#oss{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url("/img/oss_background.gif");
}
div#oss p{
	margin-top:0.4em;
	margin-left:1em;
	text-indent:1em;
	line-height:1.5em;
}
